h1, h2 {
font-size:50px !important;
display:flex;
align-items: center;
justify-content: center;
border-bottom: 1px solid #eee;
} 

header {
	background-image: "../gp.jpg";
}

.wiki {
    text-align: justify;
}

body {
  background-color: rgb(32, 32, 32);
  background-image: linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(to bottom, rgb(8, 8, 8), rgb(32, 32, 32));
  background-size: 10px 10px, 10px 10px, 10px 5px;
  background-position: 0px 0px, 5px 5px, 0px 0px;
}

.list {
    font-style: italic;
}

#map {

    border-radius: 8px;
    margin:2em 2em 2em 2em;
    min-height: 300px;
 }
