{% block body %}

<head>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type=text/javascript>
        $(function() {
            $('a#process_input').bind('click', function(){
                $.getJSON('/town_list_process', {
                    proglang: $('input[name="proglang"]').val(),
                }, function(data) {
                    var obj = JSON.parse(result);
                    $("#result").text(obj.output);
                });
                return false;
            });
        });

    </script>-->

</head>




<body class ="body">



    <div id="output">
        ...................................



    </div>



</body>

{% endblock %}