{% extends "index.html" %}
{% block body %}

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type=text/javascript>
        $(function() {
            $('a#process_input').bind('click', function(){
                $.getJSON('/wiki_process', {
                    proglang: $('input[name="proglang"]').val(),
                }, function(data) {
                    $("#result").text(data.result);
                });
                return false;
            });
        });

    </script>
</head>




<body class ="body">
    <div>
        <h3>Which city are you leaving in ?</h3>

        <div class="jumbotron" id="proglang">
        <h1>A Question for PapyBot ?</h1><br/>
        <form class="row">
          <div class="form-group col-lg-12">
            <textarea class="form-control" rows="3" placeholder="your question"></textarea>
          </div>
          <div class="form-group col-lg-12">
            <button type="submit" class="btn btn-default pull-right">Send</button>
          </div>
        </form>
      </div>


    <p id="result"></p>


     <p id="mapurl">
         <img src="mapurl"/>
     </p>

    </div>
</body>

{% endblock %}